.card__image {
    width: 200px;
    border-radius: 10px;
}
.card__link {
    text-decoration:none;
    font-size: 20px;
    
}
.card__link:hover .card__wrapContent {
    display: block;
}
.card__title {
    margin: 10px;
    text-align: center;
    color: #FFF;
}
.card__year {
    margin: 10px;
    text-align: center;
    color:#7e2d58;
}
.card__quote {
    text-align: center;
    color: #FFF;
    padding: 0 20px 20px 15px;
}
.card__wrapContent {
    display: none;
}