.card__image {
    max-width: 200px;
    border-radius: 15px;
}
.card__link {
    text-decoration:none;
    font-size: 20px;
    
}
.card__title {
    margin: 5px;
    text-align: center;
    color: #DAF7A6;
}