.sceneDetail__card {
    background-color: #ffb5b5;
    margin: 0 auto;
    align-items: center;
    max-width: 800px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.sceneDetail__wrap {
    display: flex;
}
.sceneDetail__wrapContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.sceneDetail__image {
    width: 400px;
    border-radius: 10px 0 0 10px;
}
.sceneDetail__title {
    font-size: 3rem;
    margin: 10px;
    color: #FFF;
}
.sceneDetail__year {
    font-size: 1.5rem;
    margin: 10px;
    color:#7e2d58;
}
.sceneDetail__director {
    font-size: 1.5rem;
}
.sceneDetail__quote {
    font-size: 2rem;
    margin-top: 20px;
    color: #FFF;
    padding: 0 20px 20px 15px;
}
.sceneDetail__audio {
    background-color: #407088;
    width: 200px;
    margin: 0 auto;
    padding: 25px 0;
    transition: background 1s, border-radius 1s;
}
.sceneDetail__audio:hover {
    border-radius: 30px;
    transition: background 1s, border-radius 1s;
}
.sceneDetail__audioLink {
    color: #FFF;
    text-decoration: none;
}
.sceneDetail__audioLink:hover {
    color: #FFF;
}